/* CSS FOR PART AND HART */

body, html {margin:0; padding:0;}

body {background-color: #968c7a;}

a {text-decoration: none;}

@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
/*font-family: 'Josefin Slab', serif; */
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* font-family: 'Montserrat', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/* 'font-family: 'Fjalla One', sans-serif;'*/
.main-wrapper {
	position: relative;
}

.header {
	background-color: #ffffff;
	height: 224px;
	padding-top:10px;
}

.logo-wrapper {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	width:211px;
	height:156px;
	position: relative;
	left:50%;
	margin-left:-105.5px;

}

.menu-wrapper {

	text-align: center;
	margin-top:20px;

}

.menu-wrapper a {

	font-family: 'Josefin Slab';
	font-size:21px;
	font-weight: 700;
	color:#968c7a;
	margin-right:10px;
	text-decoration: none;
}

.content {
	width:960px;
	position: relative;
	left:50%;
	margin-left: -480px;
	min-height: 150px;
}

.footer {
	width:960px;
	position: relative;
	left:50%;
	margin-left: -480px;
	min-height: 150px;
	background-color: #696255;
	
}

.footer.full {
	width:100%;
	left:0;
	margin:0;

}

.footer .logo-wrapper {
	background-image: url(../images/dark-logo.png);
	width:146px;
	height:99px;
	margin-left:-73px;

}

.footer .menu-wrapper a {
	text-align: center;
	margin-top:20px;
	color:#c5c0b4;

}

.spacer {height:10px;}
.clear {clear:both;}

.category-wrapper {
	width:960px;

}

.cat-image {
	float:left;
	width:519px;
	height:600px;
	background-image: url(../images/mens-cat.jpg);
}

.cat-info-wrapper {
	float:left;
	width:440px;
	background-color: #696355;
	height:600px;
}

.cat-logo {
}
.cat-header {
}
.line-spacer {

}

.cat-info {


}


.cat-links-wrapper  {
margin-bottom: 15px;
margin-top:15px;

}

.cat-link {
	background-color: #696355;
    color: #fff;
    float: left;
    height: 80px;
    margin-right: 15px;
    padding: 15px;
    text-align: center;
    width: 275px;

}

.cat-link:last-child {
	margin-right:0px !important;
}

.cat-link-title {
	font-size: 20px;
    position: relative;
    top: 20px;
}


.cat-link a {
	 position: relative;
    top: 20px;
    color:#fff;

}

.cat-link a:visited {
	color:#fff;
}


.contact-wrapper {
    color: #c5c0b4;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
}
.contact-wrapper .contact-phone {
    font-size: 14px;
}
.contact-wrapper .contact-phone span {
    font-size: 12px;
}
.contact-wrapper .contact-address {
    padding-bottom: 10px;
    padding-top: 10px;
}
